
<h2>Edit Collage</h2>

<%= render partial: 'errors/errors', locals: {model: @collage} %>

<%= render partial: 'form', locals: {form_title: "Edit Collage", model: @collage, submit_button: 'Update Collage'} %>

