

<h2>Create New Collage</h2>

<%= render partial: 'errors/errors', locals: {model: @collage} %>

<%= render partial: 'form', locals: {form_title: "Create New Collage", model: @collage, submit_button: 'Create Collage'} %>

