<h1 style="text-align: center"> Welcome to DesignTube </h1>

<p style="text-align: center">Design Tube is a Youtube Clone built with Ruby On Rails. </p>
<div style="display: flex">
    <%= image_tag('traintracks.png', width: "300px", height: "300px") %>
    <%= image_tag('drawing.png',width: "300px", height: "300px") %>
</div>
<p style="text-align: center">Just like the picture above, I used youtube as our reference, and built out what we could with the allotted time. <br>
<strong><i class="bi bi-egg-fill"></i> Design Tube is mostly animal picture based!</strong> </p>
